.advantages__list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;

  counter-reset: advantages-count;
}

.advantages__item {
  width: 100%;

  &--main {
    color: $basic-white;
    background-color: $primary-color;

    .advantages__item-info {
      padding: 36px 10px;

      @media (min-width: $tablet-width) {
        padding: 42px 30px;
      }
    }

    img {
      display: block;
      height: 260px;

      @media (min-width: $tablet-width) {
        height: 256px;
      }
    }

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;

      img {
        width: 66.6664%;
      }

      .advantages__item-info {
        width: 33.3334%;
      }
    }
  }

  &--secondary {
    background-color: $secondary-color;

    .advantages__item-info {
      padding: 25px 15px;
      margin: 0 20px;
      border-bottom: 1px solid $extra-dark-gray;

      @media (min-width: $tablet-width) {
        border-bottom: none;

        padding: 42px 15px;
      }
    }

    @media (min-width: $tablet-width) {
      width: 33.3334%;
    }
  }

  &:nth-child(2n) img {
    @media (min-width: $tablet-width) {
      order: -1;
    }
  }

  &:last-child .advantages__item-info {
    border-bottom: none;
  }
}

.advantages__item-title {
  margin: 0;
  margin-bottom: 30px;

  @include font-set(18px, 26px, bold);

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;

    @include font-set (21px, 26px, bold);

    padding: 0 22px;
  }

  &::after {
    counter-increment: advantages-count;
    content: "— №"counter(advantages-count) " —";

    display: block;
    margin-top: 15px;

    @include font-set (14px, 21px, normal);
  }
}

.advantages__item-description {
  margin: 0;
}
