.advantages__list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  width: 100%;

  &--main {
    color: $basic-white;
    background-color: $primary-color;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;

      img {
        width: 66.6664%;
      }

      .advantage {
        width: 33.3334%;
      }
    }
  }

  &--secondary {
    @media (min-width: $tablet-width) {
      width: 33.3334%;
      background-color: $secondary-color;
    }
  }

  &:nth-child(2n) img {
    @media (min-width: $tablet-width) {
      order: -1;
    }
  }
}
