.advice-list {
  @include list-style;

  color: $basic-black;
  text-align: left;

  background-color: $basic-white;

  padding: 26px 20px 35px;

  @media (min-width: $tablet-width) {
    display: flex;
    padding: 60px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 0 80px;
  }
}

.advice-list__item {
  padding-top: 8px;
  padding-left: 49px;

  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 0;
  }

  background-repeat: no-repeat;
  background-position: top left;

  @media (min-width: $tablet-width) {
    padding: 98px 32px 0;
    margin-bottom: 0;

    width: 33.3334%;

    text-align: center;

    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &--housing {
    background-image: url("../img/house.svg");
    background-size: 39px 37px;

    @media (min-width: $tablet-width) {
      background-size: 75px 72px;
    }
  }

  &--gifts {
    background-image: url("../img/gift.svg");
    background-size: 32px 38px;

    @media (min-width: $tablet-width) {
      background-size: 64px 75px;
      order: 2;
    }
  }

  &--food {
    background-image: url("../img/burger.svg");
    background-size: 40px 35px;

    @media (min-width: $tablet-width) {
      background-size: 76px 68px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 98px 50px 0;
  }
}

.advice-list__title {
  margin: 0 0 16px;

  @include font-set (18px, 26px, bold);

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;

    @include font-set (21px, 26px, bold);
  }
}

.advice-list__description {
  margin: 0;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    br:not(.desktop_br) {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    br {
      display: none
    }

    .desktop_br {
      display: block;
    }
  }
}
