.feedback-form {
  span {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;

    span {
      display: block;
      width: 50%;
      text-align: right;
    }
  }
}

.feedback-form__group {
  border: none;
  padding: 0;
  margin: 0;

  textarea {
    width: 100%;

    margin: 0;
    padding: 0;
    border: none;
    background-color: $light-gray;
  }

  @media (min-width: $tablet-width) {
    &:nth-child(1) {
      width: 50%;
    }

    &:nth-child(2) {
      width: 100%;
    }

    &:nth-child(3) {
      order: -1;
      width: 50%;
    }

    &:nth-child(4) {
      width: 100%;
    }

    &:nth-child(5) {
      width: 100%;
    }
  }
}

.feedback-form__title {
  @include font-set(18px, 26px, bold);
}

.feedback-form__list {
  @include list-style;
}

.feedback-form__item {
  label {
    @include font-set(inherit, 26px);

    margin: 0;
    padding: 0;
    border: none;
  }

  input {
    font-family: inherit;

    @include font-set(18px, 26px, bold);
    text-transform: none;

    margin: 0;
    padding: 0;
    border: none;
    background-color: $light-gray;
  }
}

.feedback-form__radio-label,
.feedback-form__checkbox-label {
  text-transform: none;
  font-weight: bold;
}

.feedback-form__message {
  font-family: inherit;

  @include font-set(18px, 26px, bold);
  text-transform: none;
}

.feedback-form__submit-btn {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @include font-set (21px, 26px, bold);
}
