.feedback-form {
  span {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;

    span {
      display: block;
      width: 50%;
      text-align: right;
    }
  }
}

.feedback-form__group {
  @include indent-reset;

  textarea {
    width: 100%;

    @include indent-reset;
    background-color: $light-gray;
  }

  @media (min-width: $tablet-width) {
    &--user {
      width: 50%;
    }

    &--contacts {
      width: 100%;

      .feedback-form__title {
        margin: 0 auto;
      }

      .feedback-form__list {
        @media (min-width: $desktop-width) {
          display: flex;
          flex-wrap: wrap;
        }
      }

      .feedback-form__item {
        @media (min-width: $desktop-width) {
          width: 50%;
        }
      }
    }

    &--opinion {
      order: -1;
      width: 50%;
    }

    &--places {
      width: 100%;

      .feedback-form__title {
        margin: 0 auto;
      }

      .feedback-form__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        width: 66.6664%;
        margin: 0 auto;

        @media (min-width: $desktop-width) {
          width: 100%;
        }
      }

      .feedback-form__item {
        width: 50%;

        @media (min-width: $desktop-width) {
          width: 25%;
        }
      }
    }

    &--comment {
      width: 100%;

      .feedback-form__title {
        margin: 0 auto;
      }
    }
  }
}

.feedback-form__title {
  @include font-set(18px, 26px, bold);
}

.feedback-form__list {
  @include list-style;
}

.feedback-form__item {
  label {
    @include font-set(inherit, 26px);
    @include indent-reset;
  }

  input {
    font-family: inherit;

    @include font-set(18px, 26px, bold);
    text-transform: none;

    @include indent-reset;
    background-color: $light-gray;
  }
}

.feedback-form__radio-label,
.feedback-form__checkbox-label {
  text-transform: none;
  font-weight: bold;
}

.feedback-form__message {
  font-family: inherit;

  @include font-set(18px, 26px, bold);
  text-transform: none;
}

.feedback-form__submit-btn {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @include font-set (21px, 26px, bold);
}
