.gallery-item__content {
  text-align: left;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.gallery-item img {
  width: 100%;
}

.gallery-item__title {
  margin: 0;

  @include font-set (inherit, 24px, bold);
}

.gallery-item__author {
  margin: 0;

  @include font-set (inherit, 24px);
  text-transform: none;
}

.gallery-item__like-btn {
  width: 23px;
  height: 21px;
}

.gallery-item__likes-number {
  @include font-set (inherit, 24px, bold);
}
