.gallery-video {
  img {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 66.6664%;
    margin: 0 auto;
  }
}

.gallery-video__scrollbar {
  background-color: rgba($color: $basic-black, $alpha: 0.6);
}

.gallery-video__scale {
  background-color: rgba($color: $basic-white, $alpha: 0.2);
}

.gallery-video__toggle {
  background-color: $basic-white;
  border-radius: 50%;
  width: 13px;
  height: 13px;
}
