.gallery__list {
  @include list-style;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.gallery__item {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 50%;

    background-color: $galery-item-bg;
  }

  @media (min-width: $desktop-width) {
    width: 33.333%;
  }

  &--first {
    width: 100%;
  }
}
