.gallery-video {
  position: relative;
  margin-top: 5px;

  img {
    width: 100%;
    display: block;

    @media (min-width: $tablet-width) {
      height: 500px;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 66.6664%;
    margin: 0 auto;
  }
}

.gallery-video__controls {
  padding: 0 20px;

  position: absolute;
  bottom: -66px;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 0;
    bottom: 0;
  }
}

.gallery-video__scrollbar {
  background-color: rgba($color: $basic-black, $alpha: 0.6);
  padding: 22px 23px;

  position: relative;

  @media (min-width: $tablet-width) {
    padding: 45px 166px 45px 93px;
  }
}

.gallery-video__scale {
  background-color: rgba($color: $basic-white, $alpha: 0.2);
  height: 3px;
}

.gallery-video__toggle {
  background-color: $basic-white;
  border-radius: 50%;
  width: 13px;
  height: 13px;

  position: absolute;
  top: 16px;
  left: 56px;

  @media (min-width: $tablet-width) {
    top: 40px;
    left: 204px;
  }
}

.gallery-video__control-btns {
  background-color: $normal-gray;
  padding: 23px;

  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    position: absolute;
    width: 100%;
    top: 13px;
    padding: 23px 38px;
  }

  @media (min-width: $desktop-width) {
    padding: 23px 42px 23px 34px;
  }
}

.gallery-video__btn {
  background-color: transparent;
  border: none;

  padding: 0;

  svg {
    display: block;

    fill: $controls-color;

    &:hover,
    &:focus-within {
      fill: $light-black;
    }

    &:active {
      fill: $light-black;
      opacity: 0.3;
    }

    @media (min-width: $tablet-width) {
      fill: $basic-white;

      &:hover,
      &:focus-within {
        fill: $basic-white;
        opacity: 0.6;
      }

      &:active {
        fill: $basic-white;
        opacity: 0.3;
      }
    }
  }

  &--subs {
    margin-left: auto;
    margin-right: 31px;
  }
}
