.hotel-search__title {
  @include font-set (21px, 26px, bold);
  margin: 0;
}

.hotel-search__description {
  @include font-set (inherit, 24px);
  margin: 0;
}

.hotel-search__btn {
  @include font-set (21px, 26px, bold);
  color: $basic-white;

  background-color: $primary-color;
}
