.lead {
    text-align: center;

    padding: 0 25px;
}

.lead__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;

    margin: 0;
}

.lead__text {
    line-height: 26px;

    margin: 0;
}
