.page-body {
    background-color: $basic-white;

    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: $basic-black;

    margin: 0 auto;
    padding: 0;

    width: 320px;
}
