.page-footer {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}

.page-footer__hashtag {
  @include font-set (21px, 26px, bold);
}

.page-footer__copyright {
  @include font-set (inherit, 26px);
}

.page-footer__copyright-link img {
  width: 27px;
  height: 34px;
}
