.promo {
    background-color: #97BAD4;
    background-image: url("../../img/bg-back-mobile@1x.jpg");
    background-position: bottom;
}

.promo img {
    padding-top: 50px;
    padding-bottom: 65px;
    vertical-align: bottom;
}
