.promo-index {
    background-color: #97BAD4;
    background-image: url("../../img/bg-back-mobile@1x.jpg");
    background-position: center;
}

.promo-index img {
    padding-top: 90px;
    padding-bottom: 85px;
    vertical-align: bottom;
}
