.promo {
  background-color: #97bad4;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.promo img {
  padding-top: 50px;
  padding-bottom: 65px;
}
