.promo {
  background-color: #97bad4;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo img {
  padding-top: 90px;
  padding-bottom: 85px;

  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-top: 77px;
    padding-bottom: 90px;

    width: 460px;
  }
}
